:root {
    /* make the backend contents as wide as the browser window */
    --body-max-width: 100%;
    /* change the background color of the  */
    --body-bg: #B7C2B6;

    --sidebar-max-width: 150px;
    /*--sidebar-max-width: 230px;*/
    --resize-handler-width: 9.375em;

    /* make the base font size smaller */
    --sidebar-bg: #9C949E; 
    
    --sidebar-border-color: red;
    --sidebar-logo-color: #d9d9d9;
    --sidebar-menu-color: #d9d9d9; 
    --sidebar-menu-icon-color: #EFE9E1;
    --sidebar-menu-header-color: black;

    --modal-header-bg: #8f6b74;

    --modal-bg: #acb7ae;


    --link-color: white;
    --link-hover-color: #F7882F;
    --link-hover-decoration: blue;
    --link-danger-color: var(--red-600);
    --link-danger-hover-color: var(--red-500);

    --border-radius: 4px;
    --border-width: 1px;
    --border-style: solid;


    --table-thead-color: #F7882F;
    --table-cell-color: #161748;
    --table-thead-marker-color: var(--true-gray-500);
    --table-cell-border-color: var(--true-gray-700);
    --table-hover-cell-bg: rgba(177, 177, 177, 0.75);;
    --table-selected-cell-bg: rgba(177, 177, 177, 0.25);
    --table-thead-sorted-color: var(--color-primary);
    --table-thead-sorted-marker-color: var(--color-primary);


    --pagination-color: black;
    --pagination-active-bg: #F7882F;
    --pagination-active-color: var(--white);
}

