{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% if ea.crud.currentAction == 'detail' %}
    <table class="table table-striped">
        <tr><th>Imagen</th><th>Nombre</th><th>Descripcion</th></tr>
        {% for value in field.value %}
        <tr>
            <td><img width="250" height="260" src="/img/{{ value.image }}" /></td>
            <td>{{value.nombre}}</td>
            <td>{{value.descripcion}}</td>

        </tr>
        {% endfor %}
    </table>
{% else %}
    <span class="badge badge-secondary">{{ field.formattedValue }}</span>
{% endif %}